body {
  background: linear-gradient(to right, rgb(203, 206, 145), rgb(234, 115, 141));
}

button {
  font-family: inherit;
}


.wrapper {
  width: 30rem;
  height: 45rem;
  margin: 0 auto;
  overflow: hidden;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 7.5rem);

}

.output {
  grid-column: 1 / 5;
  background: #333;
  text-align: right;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.output:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: -15px;
  box-shadow: inset 25px 0 15px #000;
  ;
}

.current-operand {
  font-size: 2.8rem;
}

button {
  background: #fff;
  border: 1px solid #666;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.span-two {
  grid-column: span 2;
}